.modal_window {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    overflow: auto;
    background:  rgba(0, 0, 0, 0.6);
    padding-top: 16px;
    padding-bottom: 16px;

    &_container {
        max-width: 800px;
        height: max-content;
        background-color: #fff;
        margin: 0 auto;
        padding-bottom: 16px;
        border-radius: 4px;
    }
    &_header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 24px;
        &_title {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #2E3238;
        }
        &_right {
            width: 201px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
        }
    }
    &_save_button {
        width: 101px;
        height: 32px;
        background-color: #0078CF;
        border-radius: 4px;
        padding: 6px 12px;
        color: #FFFFFF;
        font-weight: 600;
    }
    &_cancel_button {
        width: 96px;
        height: 32px;
        border: 1px solid #D5D8DD;
        border-radius: 4px;
        color: #2E3238;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    &_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #0B0C0E;
        padding-left: 16px;
    }
    &_close_btn {
        display: none;
    }
}

.modal_form_list {
    padding: 16px;
}

body.no-scroll {
   overflow: hidden;
   padding-right: 17px;
}


.header.no-scroll {
    position: static;
}
    
.main.no-scroll {
    padding-top: 0px;
}

.main_edit_container.no-scroll {
    transition: none;
    position: static;
    padding-right: 17px;
}

.main_message.no-scroll {
    padding-top: 0px;
}

@media (max-width: 767px) {
    .modal_window {
        padding: 0px;
    }
}

@media (max-width: 320px) {
    .modal_window_header_title {
        color: #5C6470;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 20;
        height: max-content;
    }

    .modal_window_header_right {
        display: none;
    }

    .modal_window_close_btn {
        display: inline;
        width: 32px;
        height: 32px;
        border: 1px solid #D5D8DD;
        border-radius: 4px;
        align-items: center;
    }
}